#root {
  margin: 0 auto;
  padding: 0 2rem;
  /* text-align: center; */
  height: 100vh;
}

.App {
  display: flex;
  align-items: flex-start;
  height: 92%;
  width: 90vw;
}

.editor {
  width: 50%;
  height: 100%;
}